@charset "UTF-8";
*{margin:0 ; padding: 0;}
body{background-color: #282C37;}


.wrap{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 470px;
	margin: 0 auto;
	box-shadow: 3px 3px 10px;
	border-radius: 7px;
	transform: translate(-50%, 50%);
}

.title {
	width: 100%;
	background-color: white;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   	padding-bottom: 30px;
}

.title > h3 {
	margin: 0 auto;
	color: #00ADEF;
	font-size: 36px;
	letter-spacing: 5px;
	margin-top: 20px;
}
.page_textinfo{
	font-size: 16px;
	color: #181818;
	letter-spacing: -1px;
}
.inputbox{
	margin-top : 30px;
	text-align: center;
}

.inputbox > input {
	display: inline-block;
	width: 300px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid gray;
	padding: 3px 5px;
	color: black;
	outline: none;
}

.btn_login{
	color: white;
	background-color: #00ADEF;
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}

.etc_info {
	background-color: gray;
	color: white;
	font-size: 12px;
	padding: 40px 30px 30px 30px;
}

.signup{
	text-align: center;
	text-decoration: underline;
	color: white;
	margin-top: 30px;
	position: absolute;
	top: 650px;
	left: 50%;
	transform: translate(-50%, 50%);
	cursor: pointer;
}
